* {
    font-family: "Ubuntu", sans-serif;
}

.page-title {
    font-size: 128px;
    font-family: "Montserrat Underline";
}

.page {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 768px) {
    .page-title {
        font-size: 64px;
    }

    .page {
        width: 100vw;
    }
}