<ul class="task-list">
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox" checked="">
        <code class="language-plaintext highlighter-rouge">retejo</code>: Ĉefa retpaĝo
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox" checked="">
        <code class="language-plaintext highlighter-rouge">despero</code>: Spuri luman aldonon
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">despero</code>: Lumo
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">metio</code>: GTK4 migrado 
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">metio</code>: Vulkana surfaco
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">metio</code>: Konstrui kaj eksporti scenojn
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">despero</code>: Normalaj mapoj
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">metio</code>: Risurca administrilo
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">metio</code>: Agorda menuo
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">metio</code>: Langetoj (3D, kodredaktilo)
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">metio</code>: Arbo de hierarkio 
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">desl</code>: Statika parsero
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">desl</code>: Daŭrigi parsadon
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">retejo</code>: Alŝuti muzikon
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">retejo</code>: Pri ni
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">despero</code>: Ĉielujo (Skybox)
    </li>
    <li class="task-list-item">
        <input type="checkbox" id="" disabled="" class="task-list-item-checkbox">
        <code class="language-plaintext highlighter-rouge">despero</code>: NDD (Niveloj de detaleco)
    </li>
</ul>
