<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css">
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ get_url(path="style/style.css") }}">
<title>{% block title %}{{ config.title }}{% endblock title %}</title>
</head>
<body>

<header class="d-flex flex-row flex-wrap justify-content-center align-items-center py-5 px-2">
  <a href="/"><img class="img-thumbnail rounded-circle mx-4" width="256" src="{{ get_url(path=config.extra.avatar) }}"></a>
  <div class="d-flex flex-column align-items-center">
    <h1 class="display-1 mt-5 mb-0 text-center">{{ config.title }}</h1>
    <h2 class="mb-4 text-center">{{ config.description }} <u><i>prikols</i></u><img class="ms-2" src="{{ get_url(path=config.extra.mascot) }}" height="50"></h2>
    <div class="d-flex mb-3 justify-content-center gap-2 flex-wrap">
      <a href="{{ get_url(path="blog") }}" class="btn btn-outline-light nav-pill {% block nav_blog %}{% endblock nav_blog %} rounded-pill px-3 py-1"><i class="ph ph-newspaper me-1"></i>blog</a>
      <a href="{{ get_url(path="tutorials") }}" class="btn btn-outline-light nav-pill {% block nav_tutorials %}{% endblock nav_tutorials %} rounded-pill px-3 py-1"><i class="ph ph-book-open-text me-1"></i>tutorials</a>
      <a href="{{ config.extra.github }}" target="_blank" class="btn btn-outline-light nav-pill rounded-pill px-3 py-1"><i class="ph ph-github-logo me-1"></i>github</a>
    </div>
  </div>
</header>
<section class="header-section-gradient"></section>

{% block subnav %}{% endblock subnav %}

<main>
  <div class="container py-5">
    {% block content %}{% endblock content %}
  </div>
</main>

<footer class="py-4 text-center">
  <div class="container">
    <p class="mb-2">{{ config.title | upper }} (c) {{ config.extra.year }}</p>
    <div class="d-flex justify-content-center gap-3">
      <a href="{{ config.extra.github }}" target="_blank"><i class="ph ph-github-logo fs-5"></i></a>
      <a href="{{ get_url(path="atom.xml") }}"><i class="ph ph-rss fs-5"></i></a>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
