---
layout: default
---

{%-include back_link.html-%}

<p class="print-only">Koncepto Sociala (c) Hnutov Oleksandr</p>

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>

<div class="col-lg-8 col-md-10 mx-auto no-print" style="filter: invert(0) !important">
    <hr>
    <script src="https://utteranc.es/client.js"
        repo="konceptosociala/konceptosociala.github.io"
        issue-term="title"
        theme="gruvbox-dark"
        crossorigin="anonymous"
        async>
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</div>
